:root {
  --offBlack: #1a1a1a;
  --lightSlate: rgb(84, 129, 126);
}

.game-history-modal {
  padding: 20px;
  height: 85%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-sizing: border-box;
}

.game-card {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 12px;
  padding: 16px;
  transition: transform 0.2s ease, background-color 0.2s ease;
  cursor: pointer;
}

.game-card:hover {
  background-color: #292929;
  transform: scale(1.01);
}

.game-info,
.game-meta {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.game-title {
  font-weight: bold;
  color: #f0f0f0;
  margin: 0;
}

.game-result {
  font-weight: bold;
  margin: 0;
}

.game-result.Win {
  color: #63aa66;
}
.game-result.Loss {
  color: #e67169;
}
.game-result.Draw {
  color: #eba948;
}

.game-moves,
.engine-flag {
  color: #ccc;
  font-size: 0.9rem;
  margin: 0;
}

.engine-flag {
  font-style: italic;
  color: #9c27b0;
}
